.jumbotron {
    background-color: cadetblue;
    color: white;
    margin-top: 50px;
    margin-bottom: 1px;
    padding: 50px 50px 30px 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: cadetblue;
    margin-bottom: 0px;
    margin-top: 10px;
}

.footer-address-icon {
    padding-right: 5px;
}

.card-hotel {
    flex: 1 250px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;

}

.carousel {
    padding: 0px 0px 10px 0px;
}

.tab-content {
    padding-top:5px;
}