//variables
$green: #66a340;
$footerColor: #a8c2bf;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $green;
    color: white;
    @include margenes(50px, 0px);
    padding: 50px 50px 30px 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $green;
    color: $footerColor;
    @include margenes(50px, 0px);
}

footer a {
    color: $footerColor;
}
.footer-address-icon {
    padding-right: 5px;
}

.card-hotel {
    flex: 1 250px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;

}

.carousel {
    padding: 0px 0px 10px 0px;
}

.tab-content {
    padding-top:5px;
}